// Esquema de colores

// Primer esquema de color
$white: #fff;
$isabelline: #eeeded;
$spanish-gray: #989797;

// Segundo esquema de color
$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e71a;

// Tercer esquema de color
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;

// Cuarto esquema de color
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;

// Quinto esquema de color
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;

// Sexto esquema de color
$black: #000;
$outer-space: #454545;
$quick-silver: #a2a2a2;

// Tipografía
$ptmono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

// Peso de la fuente
$regular: 400;
$light: 300;

// Tamaño de la tipografía
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;